.hero_section > div{
    background-image: url(../../img/hero.webp);
    background-repeat: no-repeat;
    background-position: right;

    /* position: relative; */
}

.hero_box {

    width: 100%;
    max-width: 1070px;
    height: 680px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    flex-wrap: wrap;
    height: 100%;

    margin-left: auto;
    padding: 272px 0 40px 200px;
}

.list {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: rotate(-90deg) translateX(150%);

    gap: 40px;
}

/* .list::before {
    display: block;
    height: 1px;
    width: 60px;
    background-color: black;
} */

.item {
    color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px; /* 136.364% */
    letter-spacing: 2.2px;

}

.hero_container {
    display: flex;
    position: relative;
}

.container_title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    flex-wrap: wrap;
    height: 100%;
}

.hero_subtitle {
    color: rgba(157, 164, 189, 0.60);
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero_title {
    color: #FFF;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px; 
    letter-spacing: 3.6px;
}

.hero_description {
    color: #9DA4BD;
    /* Main text/theme-dark */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
    width: 360px;
}

.list_button {
    display: flex;
    margin-top: 144px;
    margin-left: auto;
}

.back, .forward {
    border: none;
    background-color: transparent;
    color: #9DA4BD99;
    width: 51px;
    height: 15px;
}

.back:hover, .forward:hover {
    color: white;
}

.back:focus, .forward:focus {
    color: white;
}
